/* Cajas con contenido de color */

.box-regist,
.box-calif,
.box-prim,
.box-form,
.box-pets {
	margin:0 0 25px;
	overflow:hidden;
	padding:30px;
	-webkit-border-radius: 10px;
        border-radius: 10px;
}

/*Personalización de el cuerpo de la página*/
body{
    padding: 2px;
    color:white;
    font-family: 'Quicksand', sans-serif;
    background-color:#E4D2C8;
}

/*Tamaño, fuente y posición del titulo*/
.title {
    text-align: center;
    font-family: 'Tilt Warp', cursive;
    font-size: 60px;
    margin-bottom: 60px;
}

/*Color y tamaño de cada caja*/
.box-regist {
    padding: 30px;
    color:white;
	background-color:#C3AEA5; 
}

.box-pets {
    color:white;
	background-color:#A38C89;
}

.box-calif {
    color:white;
	background-color:#8D747D;
}

.box-prim {
    color:white;
	background-color:#715E66;
}

.box-form {
    color:white;
	background-color:#674B57;
}

a:link{
    font-weight: bold;
    color: white;
}

a:visited{
    color:#C3AEA5;
}

/*Cambio de color en el texto si se pasa el curso encima*/
a:hover{
    background-color:#8D747D;
}

/*Personalizar la barra de navegación*/
.nav1{
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(236, 227, 238);
    padding: 0.25em;
}

/*Personalizar la linea de división y el pie de página*/
.footer{
    color: rgb(113, 94, 102);
    text-align: center;
}
.linea{
    color: rgb(113, 94, 102);
}

.box-pets {
    color:white;
	background-color:#A38C89;
}

.box-calif {
    color:white;
	background-color:#8D747D;
}

.box-prim {
    color:white;
	background-color:#715E66;
}

.box-form {
    color:white;
	background-color:#674B57;
}

a:link{
    font-weight: bold;
    color: white;
}

a:visited{
    color:#C3AEA5;
}

a:hover{
    background-color:#8D747D;
}

.nav1{
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(236, 227, 238);
    padding: 0.25em;
}
.footer{
    color: rgb(113, 94, 102);
    text-align: center;
}
.linea{
    color: rgb(113, 94, 102);
}
